@import './quasar.variables.scss';
@font-face {
  font-family: "Manrope";
  src: url("../assets//fonts//Manrope-VariableFont_wght.ttf") format("opentype");
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
  font-size: 15px;
  #app {
    .glossy, .toolbar {
      height: 65px !important
    }
    .q-drawer, .q-header, .footer {
      z-index: 9999  
    }
  }
}

.bg-gray {
  background-color: #EEEEEE !important;
}
.text-size-15 {
  font-size: 15px;
}
.text-size-13 {
  font-size: 13px;
}
.text-size-17 {
  font-size: 17px;
}